body {
  background-image: url(5153829.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  text-align: center;
  padding-top: 8px;
}

table {
  text-align: center;
}

td {
  padding-top: 6px;
  font-style: italic;
  font-weight: 600;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="reType"] {
  width: 250px;
  box-sizing: content-box;
  margin: 0 auto;
  text-align: center;
}